<div class="w-full h-full flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-5 text-sky-900">Halaman Voting TPS</h1>
    <p class="text-center text-slate-700 mb-10">Silakan gunakan tombol di bawah ini untuk melakukan voting pada kandidat pilihan Anda. Pastikan untuk memilih dengan bijak!</p>
    <button id="start-vote-btn" class="bg-sky-600 hover:bg-sky-700 text-white font-semibold py-2 px-4 rounded-md transition-colors duration-300">
        Mulai Voting
    </button>
    

</div>