<nav class="transition-all duration-200 w-15 border-r border-r-slate-300 bg-slate-100 h-[100svh] flex flex-col justify-between overflow-hidden pt-12 fixed z-10" id="sidebar" onmouseenter="toggleSlider()" onmouseleave="toggleSlider()">
    <div>
        <div class="text-slate-600 flex font-light flex-col gap-4 transition-all duration-200 text-xs p-5" id="nav-btns">
            <a  data-tip="Dashboard" class="flex gap-3 has-tooltip items-center hover:underline" href="/admin/dashboard" id="nav-dashboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
                <p class="nav-text hidden" >Dashboard</p>
            </a>
            <a data-tip="Manajemen Kandidat" class="flex gap-3 has-tooltip items-center hover:underline" href="/admin/candidate" id="nav-candidate">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-icon lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><path d="M16 3.128a4 4 0 0 1 0 7.744"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><circle cx="9" cy="7" r="4"/></svg>
                <p class="nav-text hidden">Manajemen Kandidat</p>
            </a>
            <a data-tip="Manajemen Pemilih" class="flex gap-3 has-tooltip items-center hover:underline" href="/admin/voter" id="nav-candidate">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-vote-icon lucide-vote"><path d="m9 12 2 2 4-4"/><path d="M5 7c0-1.1.9-2 2-2h10a2 2 0 0 1 2 2v12H5V7Z"/><path d="M22 19H2"/></svg>
                <p class="nav-text hidden">Manajemen Pemilih</p>
            </a>
            <a data-tip="Grafik & Laporan" class="flex gap-3 has-tooltip items-center hover:underline" href="/admin/reports" id="nav-reports">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-line-icon lucide-chart-line"><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="m19 9-5 5-4-4-3 3"/></svg>
                <p class="nav-text hidden">Grafik & Laporan</p>
            </a>
            <a data-tip="Pengaturan" class="flex gap-3 has-tooltip items-center hover:underline" href="/admin/settings" id="nav-settings">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bolt-icon lucide-bolt"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"/><circle cx="12" cy="12" r="4"/></svg>
                <p class="nav-text hidden">Pengaturan</p>
            </a>
            <a data-tip="Log Aktifitas" class="flex gap-3 has-tooltip items-center hover:underline" href="/admin/reports" id="nav-reports">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll-text-icon lucide-scroll-text"><path d="M15 12h-5"/><path d="M15 8h-5"/><path d="M19 17V5a2 2 0 0 0-2-2H4"/><path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"/></svg>
                <p class="nav-text hidden">Log Aktivitas</p>
            </a>
        </div>
    </div>
    <div class="p-5">
        <button id="logout" class="hover:underline cursor-pointer transition-all duration-300 text-xs gap-3 text-stone-700 flex items-center w-fit">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>
            <p class="nav-text hidden">Logout</p>
        </button>
    </div>
</nav>
