<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/libs/font-poppins.css">
    <link rel="stylesheet" href="/styles/sweetalert2.min.css">
    <script>
        let tpsID = "asdf";
        function $id(id){return document.getElementById(id)}
    </script>
    <script src="/libs/tailwind.js"></script>
    <script src="/libs/sweetalert2.min.js"></script>
    <script src="/libs/chart.umd.min.js"></script>
    <script src="/libs/jquery.min.js"></script>
    <script src="/scripts/tpsVote.js"></script>
    <script src="/libs/socket.io.min.js"></script>
    <script>
        const socket = io({
            query: {tpsID: tpsID}
        });
        socket.on("connect", ()=>{console.log("socket connected");});
        socket.on("disconnect", ()=>{console.log("socket disconnected");});
        socket.on("connect_error", ()=>{console.log("socket connection error");});
    </script>
    <style>
        * {
            font-family: 'Poppins';
        }
    </style>
</head>
<body class="overflow-hidden select-none flex bg-neutral-200">
    <main class="flex-1 flex flex-col">
        <div class="transition-all duration-200 fixed top-0 right-0 h-10 bg-neutral-50 shadow-md/5 flex items-center px-3 left-0 justify-between" id="top-bar">
            <div class="flex items-center">
                <p class="ml-5 text-sm text-sky-950" id="position"><%=page%> - </p>
            </div>
            <div class="<%= page == "Login"? "hidden": "" %>">
                <button id="logout"  class="transition-all duration-300 text-sm text-stone-800 flex items-center w-fit py-2 px-4 rounded-md outline outline-dashed outline-[rgb(255,255,255,0)] hover:outline-[rgb(255,255,255,.5)]">
                    <svg fill="#d00" width="25px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 9.875v12.219c0 1.125 0.469 2.125 1.219 2.906 0.75 0.75 1.719 1.156 2.844 1.156h6.125v-2.531h-6.125c-0.844 0-1.5-0.688-1.5-1.531v-12.219c0-0.844 0.656-1.5 1.5-1.5h6.125v-2.563h-6.125c-1.125 0-2.094 0.438-2.844 1.188-0.75 0.781-1.219 1.75-1.219 2.875zM6.719 13.563v4.875c0 0.563 0.5 1.031 1.063 1.031h5.656v3.844c0 0.344 0.188 0.625 0.5 0.781 0.125 0.031 0.25 0.031 0.313 0.031 0.219 0 0.406-0.063 0.563-0.219l7.344-7.344c0.344-0.281 0.313-0.844 0-1.156l-7.344-7.313c-0.438-0.469-1.375-0.188-1.375 0.563v3.875h-5.656c-0.563 0-1.063 0.469-1.063 1.031z"></path>
                    </svg>
                    Logout
                </button>
            </div>
        </div>
        <div id="content" class="min-w-0 pt-14 px-4 max-h-screen h-screen flex-1 overflow-y-auto scroll-smooth [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-gray-50 [&::-webkit-scrollbar-thumb]:bg-gray-100 dark:[&::-webkit-scrollbar-track]:bg-neutral-200 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-400">
            <%- body %>
        </div>
    </main>

    <script src="/scripts/tpsLayout.js"></script>
</body>
</html>