<div class="pb-3 grid grid-cols-1 gap-3 w-full">
    <div class="min-w-0 overflow-hidden flex flex-col">
        <div class="w-full rounded-md overflow-hidden">
            <!-- gallery -->
            <div id="candidate-gallery" class="pb-3 overflow-x-auto flex gap-3 scroll-smooth snap-x snap-mandatory [&::-webkit-scrollbar]:h-[6px] [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-400 [&::-webkit-scrollbar-thumb]:rounded-full">
                <!-- image looping by script -->
            </div>
        </div>
    </div>
    
    <!-- table -->
    <div class="w-full bg-white rounded-md p-3 overflow-x-auto">
        <button class="bg-blue-500 mb-3 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md border-b-4 border-blue-800 text-xs">+ Tambah</button>
        <div class=" pb-3 w-full overflow-x-auto scroll-smooth [&::-webkit-scrollbar]:h-[6px] [&::-webkit-scrollbar-track]:bg-gray-200 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-400 [&::-webkit-scrollbar-thumb]:rounded-full">
            <table id="candidate-table" class="min-w-[900px] w-full text-xs rounded-md overflow-hidden">
                <tr class="bg-sky-900 text-neutral-200 h-6">
                    <td width="40" height="35" class="text-center">#</td>
                    <td>Nama Kandidat</td>
                    <td>Kelas</td>
                    <td>Visi</td>
                    <td>Misi</td>
                    <td>Aksi</td>
                </tr>
                <!-- table looping by script -->
            </table>
        </div>
    </div>
</div>