<div class="pb-3 grid grid-cols-1 lg:grid-cols-[3fr_2fr] gap-3 w-full">
    <!-- Bagian kiri -->
    <div class="min-w-0 overflow-hidden flex flex-col">
        <!-- quantity data -->
        <div class="mb-3 grid grid-flow-col auto-cols-fr gap-3">
            <div class="bg-white rounded-lg py-1 px-2 shadow-md">
                <p class="text-sm sm:text-xs text-sky-900">Kandidat:</p>
                <h1 class="text-teal-600 my-1 text-lg font-bold"><%=totalKandidat%></h1>
            </div>
            <div class="bg-white rounded-lg py-1 px-2 shadow-md">
                <p class="whitespace-nowrap text-sm sm:text-xs text-sky-900 overflow-hidden">Pemilih Terdaftar:</p>
                <h1 class="text-teal-600 my-1 text-lg font-bold">200</h1>
            </div>
            <div class="bg-white rounded-lg py-1 px-2 shadow-md">
                <p class="text-sm sm:text-xs text-sky-900">TPS Aktif:</p>
                <h1 class="text-teal-600 my-1 text-lg font-bold">4</h1>
            </div>
            <div class="bg-white rounded-lg py-1 px-2 shadow-md">
                <p class="text-sm sm:text-xs text-sky-900">Status:</p>
                <h1 class="text-teal-600 my-1 text-lg font-bold overflow-hidden">Berlangsung</h1>
            </div>
        </div>

        <div class="p-3 bg-white rounded-md h-90 mb-3 shadow shadow-md/5">
            <canvas id="grafik-polling"></canvas>
        </div>

        <!-- candidate scroll -->
        <div   class="w-full bg-white rounded-md shadow-md px-3 pt-3">
            <div id="gallery" class="pb-3 overflow-x-auto flex gap-3 scroll-smooth snap-x snap-mandatory [&::-webkit-scrollbar]:h-[5px] [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 [&::-webkit-scrollbar-thumb]:rounded-full">
                <% for (let id in kandidat) { %>
                    <div class="min-w-[160px] w-[160px] bg-neutral-50 border border-neutral-300 rounded-md flex flex-col overflow-hidden items-center snap-start">
                        <img class="w-full h-[150px] object-cover border-0" src="<%= kandidat[id].foto %>" alt="">
                        <div class="py-3 text-center">
                            <h1 class="text-sm font-bold text-neutral-700"><%=kandidat[id].nama%></h1>
                            <p class="text-xs"><%= kandidat[id].kelas %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>



    </div>

    <!-- Bagian kanan -->
    <div class="min-w-0 flex flex-col">
        <div  class="p-3 w-full bg-white rounded-lg shadow-md mb-3">
            <h1 class="text-center text-neutral-600 mb-3">TPS Terdaftar</h1>
            <div class="max-h-30 overflow-y-auto scroll-smooth [&::-webkit-scrollbar]:w-[5px] [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-200 dark:[&::-webkit-scrollbar-track]:bg-neutral-100 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-300">
                <table class="w-full text-xs rounded-md overflow-hidden" id="table-tps">

                </table>
                </div>
            </div>

        <div class="bg-white rounded-md mb-3 h-60 p-3">
            <canvas id="grafik-tps"></canvas>
        </div>


        <div class="flex flex-col p-3 text-neutral-600 w-full bg-white rounded-md shadow shadow-md/5 flex-1">
            <h1 class="mb-3">Log Aktivitas</h1>
            <div class="text-neutral-100 w-full h-45 bg-slate-700 px-2 py-1 overflow-y-auto text-sm flex-1" >
                <div class="flex w-full">
                    <p class="w-30">2025:11:11 22:30</p>
                    <p>TPS 1 VOTED</p>
                </div>
                <div class="flex w-full">
                    <p class="w-30">2025:11:11 22:31</p>
                    <p>TPS 1 VOTED</p>
                </div>
                <div class="flex w-full">
                    <p class="w-30">2025:11:11 22:30</p>
                    <p>TPS 1 VOTED</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        loadDashboardCharts();
    </script>
</div>
