<div class="p-3 bg-white rounded-md">
    <form id="form-candidate">
        <div class="flex flex-col gap-4 flex-1">
            <div class="flex flex-col gap-1 text-sm text-neutral-600">
                <label for="nama">Nama Kandidat*</label>
                <input class="bg-slate-100 p-3 rounded-sm outline-none" type="text" name="nama" id="nama" placeholder="Masukkan Nama Kandidat...">
            </div>
            <div class="flex flex-col gap-1 text-sm text-neutral-600">
                <label for="kelas">Kelas*</label>
                <input class="bg-slate-100 p-3 rounded-sm outline-none" type="text" name="kelas" id="kelas" placeholder="Masukkan Kelas...">
            </div>
            <div class="flex flex-col gap-1 text-sm text-neutral-600">
                <label for="visi">Visi*</label>
                <textarea class="bg-slate-100 p-3 rounded-sm outline-none h-30" name="visi" id="visi" placeholder="Visi Kandidat"></textarea>
            </div>
            <div class="flex flex-col gap-1 text-sm text-neutral-600">
                <label for="misi">Misi*</label>
                <textarea class="bg-slate-100 p-3 rounded-sm outline-none h-30" name="misi" id="misi" placeholder="Misi Kandidat"></textarea>
            </div>
            
        </div>
        <button class="text-sm ">Simpan</button>

    </form>
</div>